/* 视窗>=1000时的样式表 */
@media screen and (min-width: 1000px) {

  html,
  body {
    font-size: 14px
  }

  .setBtn {
    display: block;
  }

  .setMiniBtn {
    display: none
  }

  .home {
    color: red
  }
}
