/* 视窗>=320时的样式表 */
@media screen and (min-width: 320px) {

  /* 公共样式 */
  html,
  body {
    font-size: 10px !important;
  }

  /* 头部 */
  .header-row {
    height: 25px;
    line-height: 26px;
    text-align: center;
  }

  /* 登录按钮 */
  .setBtn {
    display: none;
  }

  .setMiniBtn {
    display: show;
    padding: 0 2px;
    cursor: pointer
  }

  /* 主页中的图片 */
  .home-image {
    height: 35px;
    width: 100px
  }

  /* logo中的图片 */
  .logo-image {
    height: 100px;
    width: 100px
  }

  /* 搜索区域 */
  .search-area {
    margin: 0 10px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
  }

  /* 广告区域 */
  .home-image2 {
    width: 100%;
    padding: 0 20px;
  }
  /* 地区区域 */
  .company-item{
    width: 45%;
    height: 100px;
    background: white
  }
  .company-image{
      width: 100%;
      height: 75%;
      padding: 0 20px;
  }
  /* 注册页面 */
  .register{
      margin: 5px;
  }
  .register input{
      width: 100%;
  }
  /* 选择城市 */
  .city-search input{
    width: 66%
  }
}
